@keyframes headerTextAction {
    0%   {
        transform: translateY(20px);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
  }

.pagesHeader {
    animation-name: headerTextAction;
    animation-duration: 2s;
}